:root {
    --black: #1F1F1F;
    --lblack: #353535;
    --llblack: #585858;
    --gray: #AAAAAA;
    --lgray: #D3D3D3;
    --white: #F0F0F0;
    --lwhite: #FAFAFA;
    --t1: #EA6565;
    --t2: #F5C23E;
    --t3: #FFE665;
    --t4: #6FDD54;
    --t5: #1FA8D3;
    --t6: #4745BB;
}