@import url(style/design-tokens/colors.css);
@import url(style/design-tokens/elements.css);
@import url(style/design-tokens/MainElements.css);

#name{
    width: calc(100% - 300px);
}

#filtersBtn{
    border: 1px var(--black) Solid;
    background-color: white;
    color: var(--black);
}
#filtersBtn:hover{
    border: 1px var(--lblack) Solid;
    background-color: var(--lwhite);
    color: var(--black);
}

#filters{
    display: none;
}
