:root {
    --black: #1F1F1F;
    --lblack: #353535;
    --llblack: #585858;
    --gray: #AAAAAA;
    --lgray: #D3D3D3;
    --white: #F0F0F0;
    --t1: #EA6565;
    --t2: #F5C23E;
    --t3: #FFE665;
    --t4: #6FDD54;
    --t5: #1FA8D3;
    --t6: #4745BB;
}

body{
    margin: 0em;
    padding-top: 60em;
    font-family: Arial;
    background-color: var(--white);
}

header{
    padding-left: 60em;
    padding-right: 60em;
    padding-top: 20em;

    width: calc(100% - 120em);
    height: 40em;

    display: flex;

    position: fixed;
    top: 0em;
    left: 0em;

    background-color: var(--black);
    color: var(--gray);

    z-index: 999999;
}

#user{
    position: absolute;
    right: 60em;
}

h1{
    font-weight: 100;
    font-size: 24em;
}

#board h1{
    font-weight: 100;
    font-size: 16em;
    color: white;
    padding-left: 10em;
}

#view{
    margin-left: 50em;
}
#categories{
    display: block;
}

button{
    text-align: center;
    border: none;
}

#board{
    display: none;
    position: fixed;
    background-color: var(--lblack);
    height: 100vh;
    width: 250em;
    padding-top: 40em;
}

.categoriesBtn{
    font-size: 14em;
    background-color: var(--lblack);
    padding: 10em 30em;
    margin-bottom: 2em;
    width: calc(100% );
    text-align: left;
    color: var(--white);
}

.categoriesBtn.Global{
    font-weight: bold;
    padding: 10em 10em;
}

.categoriesBtn:hover{
    background-color: var(--black);
}
.categoriesBtn:active {
    background-color: black;
}


.search{
    position: relative;
    background-color: white;
    border-radius: 5em;
    padding: 20em;
    margin-right: 50em;
    display: block;
}

.search p{
    width: 150em;
    margin-bottom: 5em;
    position: relative;
}

.search #input{
    width: 100%;
}

#select #category{
    width: 100%;
}

.search input{
    font-size: 18em;
    background-color: var(--white);
    border-radius: 5em;
    border: none;
    padding: 10em 15em;
    width: calc(100% - 30em);
}
.search input:focus{
    background-color: var(--white);
    outline: 0;
}


.search select{
    color: var(--gray);
    font-size: 18em;
    background-color: var(--white);
    border-radius: 5em;
    border: none;
    padding: 10em 15em;
}

.find{
    background-color: var(--black);
    color: var(--white);
    font-size: 14em;
    border-radius: 4em;
    padding: 8em 40em;
    margin-top: 20em;
    margin-left: calc(100% - 120em);
}



.card{
    width: 325em;
    height: 205em;
    background-color: white;
    border-radius: 5em;
    margin-right: 10em;
    padding: 20em;
    margin-bottom: 10em;
    
    position: relative;
    flex: none;
}

.title{
    font-size: 24em;
}
.autor{
    font-size: 12em;
    color: #444444;
    margin-bottom: 15em;
}
.categor{
    font-size: 16em;
}
.tags{
    font-size: 15em;
    display: block;
    width: 100%;
}

.tags > div{
    margin: 3em 0em;
    padding-left: 10em;
    padding-right: 10em;
    color:white;
    border-radius: 4em;
    text-transform: uppercase;
    display: inline-flex;
}
.tags #t1{
    background-color: var(--t1);
}
.tags #t2{
    background-color: var(--t2);
}
.tags #t3{
    background-color: var(--t3);
}
.tags #t4{
    background-color: var(--t4);
}
.tags #t5{
    background-color: var(--t5);
}
.tags #t6{
    background-color: var(--t6);
}

.date{
    position: absolute;
    bottom: 20em;
    left: 20em;
}

.go{
    background-color: var(--black);
    color: var(--white);
    font-size: 14em;
    border-radius: 4em;
    padding: 8em 40em;

    position: absolute;
    bottom: 20em;
    right: 20em;
}

.go:hover{
    background-color: var(--lblack);
}
.go:active {
    background-color: black;
}

.List{
    display: inline-flex;
    overflow-x: scroll; 
    width: 100%;
}

.List::-webkit-scrollbar {
    width: 0;
  }

.List::-moz-scrollbar {
    width: 0;
  }

  @media screen and (min-width: 1130em) {
    .search{
        display: flex;
    }
    .search #select{
        position: absolute;
        right: 20em;
    }

    .search #input{
        width: 100%;
    }
    
    #select #category{
        width: 100%;
    }
    
    .search input{
        font-size: 18em;
        background-color: var(--white);
        border-radius: 5em;
        border: none;
        padding: 10em 15em;
        width: 50%;
    }
    .search input:focus{
        background-color: var(--white);
        outline: 0;
    }
    
    .search select{
        color: var(--gray);
        font-size: 18em;
        background-color: var(--white);
        border-radius: 5em;
        border: none;
        padding: 10em 15em;
    }

    .find{
        background-color: var(--black);
        color: var(--white);
        font-size: 14em;
        border-radius: 4em;
        padding: 8em 40em;
    
        position: absolute;
        bottom: 20em;
        right: 20em;
    }
  }

  @media screen and (min-width: 702em) {
    #board{
        display:block;
    }
    #view{
        margin-left: 300em;
    }
  }