:root {
    --black: #1F1F1F;
    --lblack: #353535;
    --llblack: #585858;
    --gray: #AAAAAA;
    --lgray: #D3D3D3;
    --white: #F0F0F0;
    --t1: #EA6565;
    --t2: #F5C23E;
    --t3: #FFE665;
    --t4: #6FDD54;
    --t5: #1FA8D3;
    --t6: #4745BB;
}

body{
    margin: 0px;
    padding-top: 60px;
    font-family: Arial;
    background-color: var(--white);
}

header{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;

    width: calc(100% - 120px);
    height: 40px;

    display: flex;

    position: fixed;
    top: 0px;
    left: 0px;

    background-color: var(--black);
    color: var(--gray);

    z-index: 999999;
}

#user{
    position: absolute;
    right: 60px;
}

h1{
    font-weight: 100;
    font-size: 24px;
}

#board h1{
    font-weight: 100;
    font-size: 16px;
    color: white;
    padding-left: 10px;
}

#view{
    margin-left: 300px;
}
#categories{
    display: block;
}

button{
    text-align: center;
    border: none;
}

#board{
    position: fixed;
    background-color: var(--lblack);
    height: 100vh;
    width: 250px;
    padding-top: 40px;
}

.categoriesBtn{
    font-size: 14px;
    background-color: var(--lblack);
    padding: 10px 30px;
    margin-bottom: 2px;
    width: calc(100% );
    text-align: left;
    color: var(--white);
}

.categoriesBtn.Global{
    font-weight: bold;
    padding: 10px 10px;
}

.categoriesBtn:hover{
    background-color: var(--black);
}
.categoriesBtn:active {
    background-color: black;
}


.search{
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-right: 50px;
    display: flex;
}

.search p{
    width: 150px;
    margin-bottom: 5px;
}

.search #input{
    width: 100%;
}
.search #select{
    position: absolute;
    right: 20px;
}
#select #category{
    width: 100%;
}

.search input{
    font-size: 18px;
    background-color: var(--white);
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    width: 50%;
}
.search input:focus{
    background-color: var(--white);
    outline: 0;
}

.search select{
    color: var(--gray);
    font-size: 18px;
    background-color: var(--white);
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
}



.card{
    width: 325px;
    height: 205px;
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
    padding: 20px;
    margin-bottom: 10px;
    
    position: relative;
    flex: none;
}

.title{
    font-size: 24px;
}
.autor{
    font-size: 12px;
    color: #444444;
    margin-bottom: 15px;
}
.categor{
    font-size: 16px;
}
.tags{
    font-size: 15px;
    display: block;
    width: 100%;
}

.tags > div{
    margin: 3px 0px;
    padding-left: 10px;
    padding-right: 10px;
    color:white;
    border-radius: 4px;
    text-transform: uppercase;
    display: inline-flex;
}
.tags #t1{
    background-color: var(--t1);
}
.tags #t2{
    background-color: var(--t2);
}
.tags #t3{
    background-color: var(--t3);
}
.tags #t4{
    background-color: var(--t4);
}
.tags #t5{
    background-color: var(--t5);
}
.tags #t6{
    background-color: var(--t6);
}

.date{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.go{
    background-color: var(--black);
    color: var(--white);
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 40px;

    position: absolute;
    bottom: 20px;
    right: 20px;
}

.go:hover{
    background-color: var(--lblack);
}
.go:active {
    background-color: black;
}

.List{
    display: inline-flex;
    overflow-x: scroll; 
    width: 100%;
}

.List::-webkit-scrollbar {
    width: 0;
  }

.List::-moz-scrollbar {
    width: 0;
  }